<!DOCTYPE html>
<html>
  <head>
    <title>My Doctors</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Doctors</h1>

    <form action="/" method="POST">
      <div>
        <label for="hospitalName">病院の名前</label>
        <input type="text" name="hospitalName" />
      </div>
      <div>
        <label for="doctorName">医者の名前</label>
        <input type="text" name="doctorName" />
      </div>
      <div>
        <span>評価</span>

        <input type="radio" id="rating_1" name="rating" value="1" />
        <label for="rating_1">だめ</label>
        <span class="spacer"></span>

        <input type="radio" id="rating_2" name="rating" value="2" />
        <label for="rating_2">なんかだめ</label>
        <span class="spacer"></span>

        <input type="radio" id="rating_3" name="rating" value="3" />
        <label for="rating_3">ふつう</label>
        <span class="spacer"></span>

        <input type="radio" id="rating_4" name="rating" value="4" />
        <label for="rating_4">なかなかよい</label>
        <span class="spacer"></span>

        <input type="radio" id="rating_5" name="rating" value="5" />
        <label for="rating_5">かなりよい</label>
        <span class="spacer"></span>
      </div>
      <div>
        <input type="submit" value="登録" />
      </div>
    </form>

    <table>
      <% for (var i = 0; i < ratings.length; i ++) { %>
        <tr>
          <td><%= ratings[i].hospitalName %></td>
          <td><%= ratings[i].doctorName %></td>
          <td><%= ratings[i].rating %></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>